.header {
    font-family: 'Raleway', sans-serif;
}

.comment_header {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}

.slideshow {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
}

.slideshow img {
    display: block;
    margin: auto;
    max-height: 630px;
}

.comment {
    display: inline-block;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.signature {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    float: right;
}